.btn-primary:hover {
    
    background-color: #034b1d ;

}

.btn-secondary:hover {
    background-color: #221c1c;
    color: white;
}

#clear-btn:hover{
    background-color: #034b1d 
}


button {
    cursor: pointer;
}

.fa-heart{
    cursor: pointer;
}

.card, .history-section{
    box-shadow: 0 2px 3px rgba(0,0,0, 0.15);
}